@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mountains+of+Christmas:wght@700&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Bangers', bold;
  font-family: 'Mountains of Christmas', bold;
}

html {
  background-image: url(/src/images/BannerBackground.jpeg);
  background-size: 100px cover;
  background-repeat: no-repeat;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Banner {
  display: flex;
  justify-content: center;
  background-attachment: scroll;
  margin: 0 auto;
  height: 15vh;
  width: 10%;
  overflow: visible;
  /* background-image: url(/src/images/BannerBackground.jpeg) */
}

.Header {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  padding: 10px;
  background: rgb(0,192,230);
  background: linear-gradient(90deg, rgba(0,192,230,0.5816701680672269) 23%, rgba(255,255,255,0.7637429971988796) 51%, rgba(3,246,33,0.7161239495798319) 100%);

}

.Pages {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 45vh;
  width: 10%;
  overflow: visible;
  
}

.PageShift {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  padding: 10px;
  background: rgb(0,192,230);
  background: linear-gradient(90deg, rgba(6, 204, 29, 0.611) 23%, rgba(255,255,255,0.7637429971988796) 51%, rgba(0,192,230,0.5816701680672269) 100%);

}

span {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.645) 0%, rgba(247, 135, 135, 0.488) 0%, rgba(10, 219, 21, 0.672) 70%);
  padding: 5px;
}

.Background {
  background-image: url(/src/images/Background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Monsters {
  display: flex;
  justify-content: center;
  background-attachment: scroll;
  margin: 0 auto;
  height: 35vh;
  width: 10%;
  overflow: visible;
}