@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Mountains+of+Christmas:wght@700&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

* {
  font-family: 'Bangers', bold;
  font-family: 'Mountains of Christmas', bold;
}

html {
  background-image: url(/src/images/BannerBackground.jpeg);
  background-size: 100px cover;
  background-repeat: no-repeat;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Banner {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 13vh;
  width: 10%;
  padding: 5px;
  overflow: visible;
}

.Header {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  padding: 3px;
  background: rgb(0,192,230);
  background: linear-gradient(90deg, rgba(0,192,230,0.5816701680672269) 23%, rgba(255,255,255,0.7637429971988796) 51%, rgba(3,246,33,0.7161239495798319) 100%);

}

.Pages {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 45vh;
  width: 10%;
  overflow: visible;
  filter: drop-shadow(0 0 0.75rem rgb(34, 34, 34));
}

.PapaGoji {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 25vh;
  width: 10%;
  overflow: visible;
  filter: drop-shadow(0 0 0.75rem rgb(34, 34, 34));
}

.PageShift {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  padding: 3px;
  background: rgb(0,192,230);
  background: linear-gradient(90deg, rgba(6, 204, 102, 0.481) 23%, rgba(255,255,255,0.7637429971988796) 51%, rgba(0,192,230,0.5816701680672269) 100%);

}

span {
  background-color:rgba(255, 255, 255, 0.378);
}

h1 {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgba(0, 195, 255, 0.898), 0 0 5px rgba(0, 255, 51, 0.885);
}


.Background {
  background-image: url(/src/images/Background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}



@media only screen and (max-width: 480px) {
  .Banner {
  height: 60px;
  }
  .Header, #li {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 25px;
  font-size: 18px;
}
  .Pages {
  display: flex;
  justify-content: center;
  height: 250px;
}
  .video {
  display: flex;
  justify-content: center;
}

}